<div id="<%= dom_id student %>">
  <p>
    <strong>Nis:</strong>
    <%= student.nis %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= student.gender %>
  </p>

  <p>
    <strong>Birth at:</strong>
    <%= student.birth_at %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student.address %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= student.year.start_at %>
    s.d.
    <%= student.year.end_at %>
  </p>

</div>
